<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/views/style.css">
    <style>
        .parrafo-bienvenida {
            width: 50%;
            height: 100%;
            margin-top: 2em;
            margin-left: auto;
            margin-right: auto;
            color: var(--orange-900);
            font-size: 2em;
            font-weight: bold;
            text-align: center;
        }
    </style>

    <script type="module" src="/components/AppRootComponent.js"></script>
</head>
<body>
    <app-root>
        <h1 class="page-title">Bienvenido al mundo de Playmobil</h1>
        <p class="parrafo-bienvenida">El mundo de Playmobil te ofrece montones y montones de diversión y Lorem ipsum dolor. Veniam reiciendis voluptatibus rem cupiditate quaerat accusamus. Sapiente pariatur provident maiores amet officia neque esse eaque reprehenderit, exercitationem vel mollitia.</p>
    </app-root>
</body>
</html>